<div ng-controller="ScraperCtrl">

    <div class="row">
      <div class="jumbotron text-muted text-center">
          <p>Ready to begin building your Amazon Store?</p>
      </div>
    </div>

    <p>Step 1: By pressing 'Gather My Purchase History', we'll automatically visit your Amazon Orders page, and send it to your <strong>My Amazon History</strong> Dashboard.</p>

    <p>This will allow you to easily create an Amazon popup shop with all of your favorite products already populated in your shop.</p>

    <a ng-click="fetchAmazonData($scope.client)" class="btn btn-block btn-info">
        Gather My Purchase History</a>

</div>

