<div ng-controller="ScraperCtrl">

    <div class="row">
      <div class="jumbotron text-muted text-center">
          <p>Ready to begin building your Social Shopping Profile?</p>
      </div>
    </div>

    <p>Step 1: By pressing 'Gather My Purchase History', we'll automatically visit your Amazon Orders page, and send it to your <strong>My Amazon History</strong> Dashboard.</p>

    <p>This will allow you to easily share your Amazon Shopping history with friends and family.</p>

    <a ng-click="fetchAmazonData($scope.client)" class="btn btn-block btn-info">
        Gather My Purchase History</a>

    <p>Please note:</p>

    <p>a) <strong>My Amazon History</strong> will never save sensitive data like credit cards or order ids - instead, the app only fetches whatever is necessary to populate your Social Shopping Dashboard, such as Public Product Details.</p>

    <p>b) Once the fetching is complete, you will have the option to hide, show, or write reviews on any items of your Amazon Purchase History.</p>

	  <div class="row">
	      <div class="jumbotron text-muted text-center">
	          <p>Start experiencing Social Shopping Today 😄</p>
	      </div>
	  </div>

</div>

