<p>Please enter your MyFavoriteProducts email and password below.</p>

<div ng-show="error" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>

<div class="form-group">
    <label for="name">Login</label>
    <input type="text" class="form-control" name="name" ng-model="formData.client_email">
    <br/>
    <input type="password" class="form-control" name="password" ng-model="formData.client_password">
</div>

<a ng-click="loginViaExtension(formData)" class="btn btn-block btn-info">
    Let's Begin</a>


        <div class="row">
          <div class="jumbotron text-muted text-center">
              <p>If you don't have a MyAmazonHistory free account, you can
                <a target="_blank" href="http://138.197.196.165/signup">Signup For Free Here</a>!</p>
          </div>
      </div>

