
<div ng-controller="ScraperCtrl">

    <p>Hi there {{name}}, what would you like to Gather from Amazon Today?</p>

    <a ng-click="fetchSearchResults()" id="button1" class="btn btn-block btn-info">
        Gather Search Results</a>
    <br/>

    <a ng-click="fetchMyHistory()" id="button2" class="btn btn-block btn-info">
    Gather My Order History</a>
    <br/>

</div>

<script>

_gaq.push(['_trackEvent', 'category', 'action', 'label'])

_gaq.push(['_trackPageview']);

function trackButtonClick(e) {
_gaq.push(['_trackEvent', e.target.id, 'clicked']);
}

document.addEventListener('DOMContentLoaded', function () {
  var buttons = document.querySelectorAll('.btn');
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', trackButtonClick);
    console.log('clicked on button')
  }
});

</script>
