<div ng-controller="ScraperCtrl">
    <a href="#/home/choose-method" class="previous">&laquo; Previous</a>

    <p>By pressing 'Gather My Order History', we'll automatically visit your Amazon Orders page, and send it to your <strong>Amazon Product King</strong> Dashboard.</p>

    <a ng-click="initiateHistoryScraping($scope.client)" class="btn btn-block btn-info">
        Gather My Order History</a>

    <br/>
    <p class="pt-3">Please note: we never save sensitive data like credit cards or order ID's. Instead, the app only fetches whatever is necessary (such as Publicly Available Product Details)</p>

</div>

