<div ng-show="error" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>

<div class="form-group">
    <label for="name">Login</label>
    <input placeholder="email" type="text" class="form-control" name="name" ng-model="formData.client_email">
    <br/>
    <input placeholder="password" type="password" class="form-control" name="password" ng-model="formData.client_password">
</div>

<a ng-click="loginViaExtension(formData)" class="btn btn-block btn-info">
    Let's Begin</a>

          <div class="jumbotron text-muted text-center">
              <p>
                <a target="_blank" href="https://myamazonhistory.com/signup">Free Membership Available</a>!</p>
      </div>

