<div ng-controller="ExportCtrl">

    <p>In what format would you to like to export your scraped Amazon Data?</p>

    <div ng-show="error" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>

    <a ng-click="exportAsCSV()" class="btn btn-block btn-info">
        Export as CSV</a>
        <br/>

        <a ng-click="exportAsJSON()" class="btn btn-block btn-info">
        Export as JSON</a>
        <br/>
        
            <div class="row">
              <div class="jumbotron text-muted text-center">
                  <p>Need Assistance?
                    <a target="_blank" href="https://myamazonhistory.com/contact">Contact Support Here</a>!</p>
              </div>
          </div>
</div>
